<h1>Welcome to Harvard Hangouts!</h1>

<% @hangouts.each do |hangout| %>
<div>
  <b>Hanging out at:</b> <%= hangout.event %>
  <br />  
  <b>Name:</b> <%= hangout.name %>
  <br />
  <b>Location:</b> <%= hangout.location %>
  <br />
  <b>Description:</b> <%= hangout.description %>
  <br />
  <b>Start time:</b> <%= hangout.start_date_time %>
  <br />
  <b>End time:</b> 
  <br />
  <%= hangout.end_date_time %>
</div>
<hr/>
<% end %>

<%= link_to 'New hangout', new_hangout_path %>