<h1>Welcome to Harvard Hangouts!</h1>

<% @posts.each do |post| %>
<div>
  <b>Hanging out at:</b> <%= post.event %>
  <br />  
  <b>Location:</b> <%= post.location %>
  <br />
  <b>Description:</b> <%= post.description %>
  <br />
  <b>Start time:</b> <%= post.start_date_time %>
  <br />
  <b>End time:</b> 
  <br />
  <%= post.end_date_time %>
</div>
<hr/>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New hangout', new_post_path %>
	<%= link_to 'Log out', destroy_user_session_path, 
	    :method => :delete %>
<% else %>
	<%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>

