</br>
<div class="row-fluid">
	<div class="span10 offset2">
		<h1>Welcome to Harvard Hangouts!</h1>
	</div>
</div>
</br>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
			</br>
			<% if user_signed_in? %>
		  		<li><%= link_to 'New Hangout', new_post_path %></li>
			<% end %>
        </ul>
    </div>

<div class="span6">
	<% @posts.each do |post| %>
		<div class="well">
		<h2><%= post.event %></h2>
  		<b>User: </b> <%= post.user.username %>
  		<br />
  		<b>Hanging out at:</b> <%= post.location %>
  		<br />
  		<b>Description:</b> <%= post.description %>
  		<br />
  		<b>Start time:</b> <%= l(post.start_date_time, :format =>:long) %>
  		<br />
  		<b>End time:</b> <%= l(post.end_date_time, :format =>:long) %>
  		<br />
		</div>
	<% end %>		
</div>

<div class="span3 offset6">
	<%= paginate @posts%>
</div>

