<h1>Welcome to Harvard Hangouts!</h1>

<% @posts.each do |post| %>
<div>
  <b>Name: </b> <%= post.user.username %>
  <br />
  <b>Event:</b> <%= post.event %>
  <br />  
  <b>Hanging out at:</b> <%= post.location %>
  <br />
  <b>Description:</b> <%= post.description %>
  <br />
  <b>Start time:</b> <%= post.start_date_time %>
  <br />
  <b>End time:</b> <%= post.end_date_time %>
  <br />
</div>
<hr/>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New hangout', new_post_path %> |
  <%= link_to 'My posts', posts_path %>
<% end %>

