</br>
<div class="row-fluid">
	<div class="span10 offset2">
		<h1>Welcome to Harvard Hangouts!</h1>
	</div>
</div>
</br>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
			</br>
			<% if user_signed_in? %>
		  		<li><%= link_to 'New Hangout', new_hangout_path %></li>
        </ul>
    </div>

<div class="span6">
	<% @hangouts.each do |hangout| %>
		<div class="well">
		<h2><%= hangout.event %></h2>
  		<b>User: </b> <% if (hangout.user != nil) %>
  		<%= hangout.user.username %>
  		<% end %>
  		<br />
  		<b>Hanging out at:</b> <%= hangout.location %>
  		<br />
  		<b>Description:</b> <%= hangout.description %>
  		<br />
  		<b>Start time:</b> <%= l(hangout.start_date_time, :format =>:long) %>
  		<br />
  		<b>End time:</b> <%= l(hangout.end_date_time, :format =>:long) %>
  		<br />
		</div>
	<% end %>		
</div>

<div class="span3 offset6">
	<%= paginate @hangouts%>
</div>
<% end %>
