</br>
<div class="row-fluid">
	<div class="span10 offset2">
		<h1>Welcome to HarvardHangouts!</h1>
	</div>
</div>
</br>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
			<% if user_signed_in? %>
    </div>

<div class="span6">
	<% @hangouts.each do |hangout| %>
	  <% if hangout.event == 'Party' %>
		<div class="well">
		<h2><%= link_to hangout.event, hangout %></h2>
  		<b>User: </b> <% if (hangout.user != nil) %>
  		<%= link_to hangout.user.username, user_profile_path(hangout.user) %>
  		<% end %>
  		<br />
  		<b>Hanging out at:</b> <%= hangout.location %>
  		<br />
  		<b>Description:</b> <%= hangout.description %>
  		<br />
  		<b>Start:</b> <%= l(hangout.start_date_time, :format =>:long) %>
  		<br />
  		<b>End:</b> <%= l(hangout.end_date_time, :format =>:long) %>
  		<br />
		</div>
	  <% end %>
	<% end %>		
</div>

<% end %>
</div>
