<h1>Listing hangouts</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start date time</th>
    <th>End date time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.event %></td>
    <td><%= post.description %></td>
    <td><%= post.location %></td>
    <td><%= post.start_date_time %></td>
    <td><%= post.end_date_time %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_path %> |
<%= link_to 'New Hangout', new_post_path %>

