<div class="row-fluid">
	<div class="span10 offset2">
		</br>
		<h1>HarvardHangouts: My Hangouts</h1>
	</div>
</div>
</br>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
        </ul>
    </div>

<div class="span6">
<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% count = 0 %>
<% @hangouts.each do |hangout| %>
  <tr>
    <td><%= hangout.event %></td>
    <td><%= hangout.description %></td>
    <td><%= hangout.location %></td>
    <td><%= hangout.start_date_time.strftime("%B %-d, %Y %-I:%M %p") %></td>
    <td><%= hangout.end_date_time.strftime("%B %-d, %Y %-I:%M %p") %></td>
	<td>
		<ul class="nav nav-pills">
    		<li><%= link_to 'View', hangout %></li>
		</ul>
	</td>
	<td>
		<ul class="nav nav-pills">
			<li><%= link_to 'Edit', edit_hangout_path(hangout) %></li>
		</ul>
	</td>
	<td>
		<ul class="nav nav-pills">
    		<li><%= link_to 'Delete', hangout, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
	</td>
  </tr>
  <% count += 1 %>
<% end %>
</table>
<% if count == 0 %>
	<h4><i>There are no hangouts to display. Try making one!</i></h4>
<% end %>
</div>

</div>

<div class="span3 offset6">
	<%= paginate @hangouts%>
</div>