<div class="row-fluid">
	<div class="span10 offset2">
		<h1>Listing hangouts</h1>
	</div>
</div>
</br>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
			<% if user_signed_in? %>
		  		<li><%= link_to 'New Hangout', new_hangout_path %></li>
			<% end %>
        </ul>
    </div>

<div class="span6">
<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start date time</th>
    <th>End date time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hangouts.each do |hangout| %>
  <tr>
    <td><%= hangout.event %></td>
    <td><%= hangout.description %></td>
    <td><%= hangout.location %></td>
    <td><%= l(hangout.start_date_time, :format =>:long) %></td>
    <td><%= l(hangout.end_date_time, :format =>:long) %></td>
	<td>
		<ul class="nav nav-pills">
    		<li><%= link_to 'View', hangout %></li>
		</ul>
	</td>
	<td>
		<ul class="nav nav-pills">
			<li><%= link_to 'Edit', edit_hangout_path(hangout) %></li>
		</ul>
	</td>
	<td>
		<ul class="nav nav-pills">
    		<li><%= link_to 'Delete', hangout, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
	</td>
  </tr>
<% end %>
</table>
</div>

</div>