<h1>New Hangout</h1>

<%= form_for(@hangout) do |f| %>
  <p>
    <b>Your name</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>Event</b><br />
    <%= f.text_field :event %>
  </p>
  <p>
    <b>Location</b><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <b>Start time</b><br />
    <%= f.text_field :start_date_time %>
  </p>
  <p>
    <b>End time</b><br />
    <%= f.text_field :end_date_time %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>