</br>

<div class="row-fluid">
	<div class="span6 offset2">
		<h1><%= @hangout.event %></h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset2">
		<p id="notice"><%= notice %></p>
	</div>
</div>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
			<% if user_signed_in? %>
	  			<li><%= link_to 'Back', hangouts_path %></li>
		  		<li><%= link_to 'New Hangout', new_hangout_path %></li>
			  	<li><%= link_to 'Edit Hangout', edit_hangout_path(@hangout) %></li>
			<% end %>
        </ul>
    </div>

<div class="span4">
	<div class="well">
<p>
  <b>Description:</b>
  <%= @hangout.description %>
</p>

<p>
  <b>Location:</b>
  <%= @hangout.location %>
</p>

<p>
  <b>Start date time:</b>
  <%= l(@hangout.start_date_time, :format =>:long) %>
</p>

<p>
  <b>End date time:</b>
  <%= l(@hangout.end_date_time, :format => :long) %>
</p>
	</div>
</div>

</div>