</br>

<div class="row-fluid">
	<div class="span6 offset2">
		<h1><%= @hangout.event %></h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset2">
		<p id="notice"><%= notice %></p>
	</div>
</div>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        </ul>
    </div>

<div class="span4">
	<div class="well">
  	<p class="pull-right"><%= link_to 'Edit Hangout', edit_hangout_path(@hangout) %></p>
<p>
  <b>User:</b>
  <%= @hangout.user.username %>	

</p>

<p>
  <b>Description:</b>
  <%= @hangout.description %>
</p>

<p>
  <b>Location:</b>
  <%= @hangout.location %>
</p>

<p>
  <b>Start:</b>
  <%= l(@hangout.start_date_time, :format =>:long) %>
</p>

<p>
  <b>End:</b>
  <%= l(@hangout.end_date_time, :format => :long) %>
</p>

	</div>
</br>
<h3>Comments</h3>
<% @hangout.comments.each do |comment| %>
<div class="well well-small">
<h5><% if comment.user != nil %><%= comment.user.username %><% end %> says:</h5>
<%= comment.content %>
</div>
<% end %>

</br>
<h4>Add Comment</h4>
<%= form_for([@hangout, @hangout.comments.build]) do |f| %>
  <% if @hangout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hangout.errors.count, "error") %> prohibited this hangout from being saved:</h2>

      <ul>
      <% @hangout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content %>
  </div>
    <button class="btn btn-primary" type="submit">Submit</button>
<% end %>

</div>

</div>