<!DOCTYPE html>
<html>

<head>
	<title>HarvardHangouts</title>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- title bar above all pages -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
	        <div class="container-fluid">
	        	<a class="brand" href="/">HarvardHangouts</a>
	          	<div class="nav-collapse collapse">
	            	<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><a>Welcome, <%= current_user.username %>!</a></li>
							<li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
						<% else %>
			  				<li><%= link_to 'Sign up', new_user_registration_path %></li>
			  				<li><%= link_to 'Log in', new_user_session_path %></li>
						<% end %>
	            	</ul>
	            	<ul class="nav">
				  		<li><a href="/about">About</a></li>
				  		<% if user_signed_in? %>
	              			<li><a href="/">All Hangouts</a></li>	
				  		<% end %>
				  		<% if user_signed_in? %>
							<li><a href="/work">Work</a></li>
							<li><a href="/sessions">Sessions</a></li>
							<li><a href="/parties">Parties</a></li>
							<li><a href="/other">Other</a></li>
							<li><%= link_to 'My Hangouts', hangouts_path %></li>
							<li><a>|</a></li>
				  			<li><%= link_to 'New Hangout', new_hangout_path %></li>
				  		<% end %>
	            	</ul>
	        	</div>
	      	</div>
		</div>
	</div>

	<div class="container-fluid">
		<!-- for spacing purposes -->
		<div class="row-fluid">
			<div class="span2 offset10">
			</div>
		</div>

		<!-- content of page -->
		<%= yield %>

	</div>
</body>

</html>
